@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    background-image: url('TLperson.jpg');
    background-size: 100% 600px;
    background-repeat: no-repeat;
    background-color: #250605;
}

header {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 8px 0px 6px 40px;
    height: 50px;
}

.fa-user-o {

    color: white;
    size: 5px;

}

header h1 {
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 32px;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
}

nav ul {
    display: inline;
    padding-right: 20px;
    float: right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    color: white;
    float: left;
    margin-left: 12px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#nav {
    font-family: 'Montserrat', sans-serif;
}

#image_word {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    font-size: 50px;
    letter-spacing: 10px;
    padding-top: 180px;
    padding-left: 160px;
}

.homered {
    background-color: #ff3e54;
    padding: 30px 10px 16px 10px;
}

.homeblack:hover {
    background-color: rgba(0, 0, 0, 0.33);
    padding: 30px 10px 16px 10px;
}

.art {
    background-color: ghostwhite;
}

article {
    margin-top: 300px;
    margin-left: 170px;
    margin-right: 199px;
    padding-top: 40px;
    padding-bottom: 70px;
}

#CMpic {
    background: url('PHisland.jpg') no-repeat;
    width: 950px;
    height: 400px;
}

#LKpic {
    background: url("langkawi.jpg") no-repeat;
    width: 950px;
    height: 400px;
}

#CHpic {
    background: url("CMlands.jpg") no-repeat;
    width: 950px;
    height: 400px;
}

/*---- footer ----*/
footer {
    width: 100%;
    background-color: dimgray;
    padding: 60px 0px;
}

footer nav {
    float: left;
}

footer nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

footer nav ul li a {
    font-family: Lato;
    font-weight: 400;
    font-size: 15px;
}

footer p {
    font-family: Lato;
    font-size: 15px;
    color: white;
    float: right;
    padding-right: 40px;
}